bot-sku-inbound.json
{
  "name": "Bot SKU - Entrada WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-evolution",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst data = body.data || {};\nconst message = data.message || {};\nconst key = data.key || {};\n\nconst rawMessage = body.sku ?? body.message ?? body.text ?? message.conversation ?? message.extendedTextMessage?.text ?? message.imageMessage?.caption ?? '';\nconst mensaje = String(rawMessage || '').trim();\nconst normalized = mensaje.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\nconst upper = normalized.toUpperCase();\nconst fromMe = key.fromMe === true || body.fromMe === true;\nconst looksLikeOtp = /CODIGO DE ACCESO RUNNER|EXPIRA EN/i.test(normalized);\n\nconst areaAliases = new Map([\n  ['FRIO', 'frio'],\n  ['SALA', 'sala'],\n  ['GM', 'gm'],\n]);\n\nlet tipo = 'invalid';\nlet sku = null;\nlet skus = [];\nlet area = null;\n\nconst parts = normalized.split(',').map((part) => part.trim()).filter(Boolean);\nconst isValidSkuList = normalized.includes(',') && parts.length > 1 && parts.every((part) => /^\\d{6,13}$/.test(part));\n\nif (isValidSkuList) {\n  tipo = 'sku_multiple';\n  skus = parts;\n} else if (/^(SI|S|YES|Y)$/i.test(upper)) {\n  tipo = 'yes';\n} else if (/^(NO|N)$/i.test(upper)) {\n  tipo = 'no';\n} else if (areaAliases.has(upper)) {\n  tipo = 'area';\n  area = areaAliases.get(upper);\n} else if (/^[A-Z0-9_-]{2,32}$/.test(upper)) {\n  tipo = 'sku';\n  sku = upper;\n}\n\nif (fromMe || looksLikeOtp) {\n  tipo = 'ignore';\n}\n\nconst remoteJid = body.phone ?? body.telefono ?? key.remoteJid ?? data.remoteJid ?? '';\nconst telefono = String(remoteJid || '').replace('@s.whatsapp.net', '').replace('@c.us', '').trim();\nconst instancia = body.instance ?? body.instanceName ?? data.instance ?? '';\n\nreturn [{\n  json: {\n    tipo,\n    sku,\n    skus,\n    area,\n    telefono,\n    instancia,\n    mensaje_original: mensaje,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parsear-mensaje",
      "name": "Parsear mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with input as (\n  select\n    $1::text as telefono,\n    $2::text as tipo,\n    $3::text as sku,\n    $4::text as area,\n    $5::text as mensaje_original,\n    $6::text as instancia,\n    coalesce($7::text[], array[]::text[]) as skus\n), cleanup as (\n  delete from public.picker_sku_context\n  where updated_at < now() - interval '30 minutes'\n), ctx as (\n  select c.*\n  from public.picker_sku_context c, input i\n  where c.telefono = i.telefono\n  limit 1\n), multiple_input as (\n  select trim(sku_value) as sku, ordinality::integer as orden\n  from input i,\n  unnest(i.skus) with ordinality as t(sku_value, ordinality)\n  where i.tipo = 'sku_multiple'\n), multiple_products as (\n  select\n    mi.orden,\n    mi.sku,\n    sp.nombre_producto,\n    sp.marca_producto,\n    sp.area,\n    sr.respuesta,\n    sr.estado_respuesta,\n    (sp.sku is not null or sr.sku is not null) as encontrado\n  from multiple_input mi\n  left join public.sku_productos sp\n    on upper(sp.sku) = upper(mi.sku)\n    and sp.activo = true\n  left join lateral (\n    select sr.*\n    from public.sku_respuestas sr\n    where upper(sr.sku) = upper(mi.sku)\n      and sr.activo = true\n      and (sr.respuesta_fija = true or sr.expires_at is null or sr.expires_at > now())\n    order by sr.created_at desc, sr.id desc\n    limit 1\n  ) sr on true\n), insert_multiple_logs as (\n  insert into public.consultas_sku (\n    sku,\n    marca_producto,\n    area,\n    telefono_picker,\n    mensaje_original,\n    instancia,\n    estado,\n    encontrado,\n    whatsapp_enviado,\n    local_id,\n    created_at\n  )\n  select\n    mp.sku,\n    coalesce(nullif(mp.nombre_producto, ''), nullif(mp.marca_producto, '')),\n    mp.area,\n    i.telefono,\n    i.mensaje_original,\n    i.instancia,\n    'consulta_multiple',\n    mp.encontrado,\n    true,\n    (select id from public.locales where codigo = '55' limit 1),\n    now()\n  from input i\n  join multiple_products mp on true\n  where i.tipo = 'sku_multiple'\n), multiple_response as (\n  select string_agg(\n    case\n      when mp.encontrado = false then\n        'SKU: ' || mp.sku || ' Producto sin consultas'\n      else\n        'SKU: ' || mp.sku ||\n        ' Producto: ' || coalesce(nullif(mp.nombre_producto, ''), nullif(mp.marca_producto, ''), 'Sin nombre registrado') ||\n        ' Disponibilidad: ' || case when coalesce(mp.estado_respuesta, 'disponible') = 'no_disponible' then 'No disponible' else 'Disponible' end ||\n        ' Respuesta: ' || coalesce(nullif(mp.respuesta, ''), 'Sin respuesta registrada')\n    end,\n    E'\\n' order by mp.orden\n  ) as texto_whatsapp\n  from multiple_products mp\n), product_info as (\n  select sp.sku, sp.nombre_producto, sp.marca_producto, sp.area\n  from public.sku_productos sp\n  join input i on upper(sp.sku) = upper(coalesce(i.sku, (select sku from ctx)))\n  where sp.activo = true\n  limit 1\n), active_response as (\n  select\n    sr.id::text as id,\n    sr.sku,\n    coalesce(nullif(sp.nombre_producto, ''), nullif(sr.marca_producto, '')) as nombre_producto,\n    coalesce(nullif(sp.marca_producto, ''), nullif(sr.marca_producto, '')) as marca_producto,\n    coalesce(nullif(sp.area, ''), sr.area) as area,\n    sr.respuesta,\n    sr.estado_respuesta\n  from public.sku_respuestas sr\n  left join public.sku_productos sp on upper(sp.sku) = upper(sr.sku)\n  join input i on true\n  where i.tipo = 'sku'\n    and upper(sr.sku) = upper(i.sku)\n    and sr.activo = true\n    and (sr.respuesta_fija = true or sr.expires_at is null or sr.expires_at > now())\n  order by sr.created_at desc, sr.id desc\n  limit 1\n), confirmed_response as (\n  select\n    sr.id::text as id,\n    sr.sku,\n    coalesce(nullif(sp.nombre_producto, ''), nullif(sr.marca_producto, '')) as nombre_producto,\n    coalesce(nullif(sp.marca_producto, ''), nullif(sr.marca_producto, '')) as marca_producto,\n    coalesce(nullif(sp.area, ''), sr.area) as area,\n    sr.respuesta,\n    sr.estado_respuesta\n  from public.sku_respuestas sr\n  left join public.sku_productos sp on upper(sp.sku) = upper(sr.sku)\n  join ctx on ctx.respuesta_id = sr.id::text\n  join input i on true\n  where i.tipo = 'yes'\n    and ctx.estado = 'confirmar_respuesta'\n    and sr.activo = true\n    and (sr.respuesta_fija = true or sr.expires_at is null or sr.expires_at > now())\n  limit 1\n), insert_no_disponible_log as (\n  insert into public.consultas_sku (\n    sku,\n    marca_producto,\n    area,\n    telefono_picker,\n    mensaje_original,\n    instancia,\n    estado,\n    estado_respuesta,\n    respuesta_runner,\n    whatsapp_enviado,\n    respuesta_fija,\n    local_id,\n    encontrado,\n    created_at,\n    responded_at\n  )\n  select\n    ar.sku,\n    coalesce(nullif(ar.nombre_producto, ''), nullif(ar.marca_producto, '')),\n    ar.area,\n    i.telefono,\n    i.mensaje_original,\n    i.instancia,\n    'no_disponible',\n    'no_disponible',\n    ar.respuesta,\n    true,\n    true,\n    (select id from public.locales where codigo = '55' limit 1),\n    false,\n    now(),\n    now()\n  from input i\n  join active_response ar on true\n  where i.tipo = 'sku'\n    and coalesce(ar.estado_respuesta, '') = 'no_disponible'\n  returning id, sku\n), upsert_confirm as (\n  insert into public.picker_sku_context (telefono, estado, sku, respuesta_id, created_at, updated_at)\n  select i.telefono, 'confirmar_respuesta', i.sku, ar.id, now(), now()\n  from input i\n  join active_response ar on true\n  where i.tipo = 'sku'\n    and coalesce(ar.estado_respuesta, 'disponible') <> 'no_disponible'\n  on conflict (telefono) do update set\n    estado = excluded.estado,\n    sku = excluded.sku,\n    respuesta_id = excluded.respuesta_id,\n    updated_at = now()\n), upsert_wait_area_from_sku as (\n  insert into public.picker_sku_context (telefono, estado, sku, respuesta_id, created_at, updated_at)\n  select i.telefono, 'esperando_area', i.sku, null, now(), now()\n  from input i\n  where i.tipo = 'sku'\n    and not exists (select 1 from active_response)\n    and not exists (select 1 from product_info where area is not null)\n  on conflict (telefono) do update set\n    estado = excluded.estado,\n    sku = excluded.sku,\n    respuesta_id = null,\n    updated_at = now()\n), upsert_wait_area_from_no as (\n  insert into public.picker_sku_context (telefono, estado, sku, respuesta_id, created_at, updated_at)\n  select i.telefono, 'esperando_area', ctx.sku, null, now(), now()\n  from input i\n  join ctx on true\n  where i.tipo = 'no'\n    and ctx.estado = 'confirmar_respuesta'\n  on conflict (telefono) do update set\n    estado = excluded.estado,\n    sku = excluded.sku,\n    respuesta_id = null,\n    updated_at = now()\n), existing_pending_from_known_area as (\n  select c.id, c.sku, c.area\n  from public.consultas_sku c\n  join input i on c.telefono_picker = i.telefono\n  where i.tipo = 'sku'\n    and upper(c.sku) = upper(i.sku)\n    and c.estado = 'pendiente_sin_asignar'\n    and coalesce(lower(c.area), '') = coalesce(lower((select area from product_info)), '')\n  limit 1\n), insert_pending_from_known_area as (\n  insert into public.consultas_sku (sku, marca_producto, area, telefono_picker, mensaje_original, instancia, estado, local_id, encontrado, created_at)\n  select\n    i.sku,\n    coalesce(nullif((select nombre_producto from product_info), ''), nullif((select marca_producto from product_info), '')),\n    (select area from product_info),\n    i.telefono,\n    i.mensaje_original,\n    i.instancia,\n    'pendiente_sin_asignar',\n    (select id from public.locales where codigo = '55' limit 1),\n    true,\n    now()\n  from input i\n  where i.tipo = 'sku'\n    and not exists (select 1 from active_response)\n    and (select area from product_info) is not null\n    and not exists (select 1 from existing_pending_from_known_area)\n  returning id, sku, area\n), existing_pending as (\n  select c.id, c.sku, c.area\n  from public.consultas_sku c\n  join input i on c.telefono_picker = i.telefono\n  join ctx on upper(c.sku) = upper(ctx.sku)\n  where i.tipo = 'area'\n    and ctx.estado = 'esperando_area'\n    and c.estado = 'pendiente_sin_asignar'\n  limit 1\n), insert_pending as (\n  insert into public.consultas_sku (sku, marca_producto, area, telefono_picker, mensaje_original, instancia, estado, local_id, encontrado, created_at)\n  select\n    ctx.sku,\n    coalesce(nullif((select nombre_producto from product_info), ''), nullif((select marca_producto from product_info), '')),\n    coalesce((select area from product_info), i.area),\n    i.telefono,\n    ctx.sku,\n    i.instancia,\n    'pendiente_sin_asignar',\n    (select id from public.locales where codigo = '55' limit 1),\n    (exists (select 1 from product_info)),\n    now()\n  from input i\n  join ctx on true\n  where i.tipo = 'area'\n    and ctx.estado = 'esperando_area'\n    and i.area is not null\n    and not exists (select 1 from existing_pending)\n  returning id, sku, area\n), pending_result as (\n  select id, sku, area from insert_pending_from_known_area\n  union all\n  select id, sku, area from existing_pending_from_known_area\n  union all\n  select id, sku, area from insert_pending\n  union all\n  select id, sku, area from existing_pending\n  limit 1\n), clear_after_yes as (\n  delete from public.picker_sku_context c\n  using input i, confirmed_response cr\n  where c.telefono = i.telefono\n    and i.tipo = 'yes'\n), clear_after_area as (\n  delete from public.picker_sku_context c\n  using input i, pending_result p\n  where c.telefono = i.telefono\n    and i.tipo = 'area'\n), clear_after_known_area as (\n  delete from public.picker_sku_context c\n  using input i, pending_result p\n  where c.telefono = i.telefono\n    and i.tipo = 'sku'\n)\nselect\n  i.telefono,\n  i.instancia,\n  case\n    when i.tipo = 'ignore' then 'ignore'\n    when i.telefono = '' then 'ignore'\n    when i.tipo = 'sku_multiple' then 'sku_multiple_response'\n    when i.tipo = 'sku' and exists (select 1 from insert_no_disponible_log) then 'no_disponible_registered'\n    when i.tipo = 'sku' and exists (select 1 from active_response where coalesce(estado_respuesta, 'disponible') <> 'no_disponible') then 'ask_confirm'\n    when i.tipo = 'sku' and exists (select 1 from pending_result) then 'pending_created'\n    when i.tipo = 'sku' then 'ask_area'\n    when i.tipo = 'yes' and exists (select 1 from confirmed_response) then 'send_cached_response'\n    when i.tipo = 'no' and exists (select 1 from ctx where estado = 'confirmar_respuesta') then 'ask_area'\n    when i.tipo = 'area' and exists (select 1 from pending_result) then 'pending_created'\n    else 'help'\n  end as action,\n  case\n    when i.tipo = 'sku_multiple' then\n      coalesce((select texto_whatsapp from multiple_response), 'No fue posible consultar los SKUs. Revisa el formato: 848439849, 23583853, 53953953')\n    when i.tipo = 'sku' and exists (select 1 from insert_no_disponible_log) then\n      'SKU ' || i.sku || ': producto no disponible en este momento. Tu consulta quedó registrada.'\n    when i.tipo = 'sku' and exists (select 1 from active_response where coalesce(estado_respuesta, 'disponible') <> 'no_disponible') then\n      'Estas buscando SKU ' || i.sku || ' | Producto: ' || coalesce(nullif((select nombre_producto from active_response), ''), 'Sin nombre registrado') || ' | Marca: ' || coalesce(nullif((select marca_producto from active_response), ''), 'Sin marca registrada') || '? Responde SI o NO.'\n    when i.tipo = 'sku' and exists (select 1 from pending_result) then\n      'Consulta enviada al equipo de ' || initcap(coalesce((select area from pending_result), (select area from product_info))) || '. Te responderemos por este mismo chat.'\n    when i.tipo = 'sku' then\n      'No existe respuesta para este SKU. A que area pertenece? Responde solo una opcion: Frio, Sala o GM.'\n    when i.tipo = 'yes' and exists (select 1 from confirmed_response) then\n      'SKU ' || (select sku from confirmed_response) || ' | Producto: ' || coalesce(nullif((select nombre_producto from confirmed_response), ''), 'Sin nombre registrado') || ' | Marca: ' || coalesce(nullif((select marca_producto from confirmed_response), ''), 'Sin marca registrada') || coalesce(' | Area: ' || nullif(initcap((select area from confirmed_response)), ''), '') || '. Respuesta: ' || (select respuesta from confirmed_response)\n    when i.tipo = 'no' and exists (select 1 from ctx where estado = 'confirmar_respuesta') then\n      'A que area pertenece el SKU? Responde solo una opcion: Frio, Sala o GM.'\n    when i.tipo = 'area' and exists (select 1 from pending_result) then\n      'Consulta enviada al equipo de ' || initcap(coalesce((select area from pending_result), (select area from product_info), i.area)) || '. Te responderemos por este mismo chat.'\n    else\n      'No fue posible crear la consulta. Envia solo el SKU, por ejemplo: 9999. Si quieres consultar varios SKUs, separalos por coma: 848439849, 23583853, 53953953.'\n  end as texto_whatsapp\nfrom input i;",
        "options": {
          "queryReplacement": "={{ [ $json.telefono, $json.tipo, $json.sku, $json.area, $json.mensaje_original, $json.instancia, $json.skus || [] ] }}"
        }
      },
      "id": "resolver-conversacion",
      "name": "Resolver conversacion SKU",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        520,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres Supabase/EasyPanel"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-reply",
              "leftValue": "={{ $json.action !== 'ignore' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-responder",
      "name": "IF responder picker",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL + '/message/sendText/' + ($json.instancia || $env.EVOLUTION_INSTANCE) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.telefono, text: $json.texto_whatsapp } }}",
        "options": {}
      },
      "id": "enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, action: $json.action } }}",
        "options": {}
      },
      "id": "responder-ok",
      "name": "Responder webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, ignored: true } }}",
        "options": {}
      },
      "id": "responder-ignorado",
      "name": "Responder webhook ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        420
      ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Parsear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear mensaje": {
      "main": [
        [
          {
            "node": "Resolver conversacion SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver conversacion SKU": {
      "main": [
        [
          {
            "node": "IF responder picker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF responder picker": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder webhook ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Responder webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "bot-sku-inbound-sku-first",
  "triggerCount": 0,
  "tags": []
}
