n8n-workflows/01-otp-sms.json
{
  "name": "01 – OTP SMS Dashboard",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook OTP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "user-otp-sms",
      "parameters": {
        "path": "user-otp-sms",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Validar Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Rechazar (401)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 440],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={ \"error\": \"Unauthorized\" }"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Parsear Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "telefono",
              "value": "={{ $json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "codigo",
              "value": "={{ $json.body.codigo }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "rol",
              "value": "={{ $json.body.rol ?? 'picker' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "mensaje",
              "value": "={{ $json.body.mensaje ?? ('Tu codigo de acceso es ' + $json.body.codigo + '. Expira en 10 minutos.') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Enviar SMS Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json.telefono }}" },
            { "name": "From", "value": "={{ $env.TWILIO_FROM_NUMBER }}" },
            { "name": "Body", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ JSON.stringify({ ok: true, enviado_a: $('Parsear Body').item.json.telefono, rol: $('Parsear Body').item.json.rol, provider: 'twilio', twilio_sid: $json.sid, twilio_status: $json.status }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Responder Error Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 440],
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json.message ?? 'Twilio error' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Twilio OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-twilio",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    }
  ],
  "connections": {
    "Webhook OTP": {
      "main": [
        [{ "node": "Validar Secret", "type": "main", "index": 0 }]
      ]
    },
    "Validar Secret": {
      "main": [
        [{ "node": "Parsear Body", "type": "main", "index": 0 }],
        [{ "node": "Rechazar (401)", "type": "main", "index": 0 }]
      ]
    },
    "Parsear Body": {
      "main": [
        [{ "node": "Enviar SMS Twilio", "type": "main", "index": 0 }]
      ]
    },
    "Enviar SMS Twilio": {
      "main": [
        [{ "node": "Twilio OK?", "type": "main", "index": 0 }]
      ]
    },
    "Twilio OK?": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }],
        [{ "node": "Responder Error Twilio", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["dashboard", "picker", "otp"],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dashboard-picker-v1"
  }
}
