n8n-workflows/02-runner-response-app.json
{
  "name": "02 – Runner Response App Dispatch",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "app-runner-response-dispatch",
      "parameters": {
        "path": "app-runner-response-dispatch",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Validar Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Rechazar (401)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 460],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={ \"error\": \"Unauthorized\" }"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Extraer consulta_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "consulta_id",
              "value": "={{ $json.body.consulta_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Obtener Consulta Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/consultas_sku",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.consulta_id }}" },
            { "name": "select", "value": "id,sku,telefono_picker,nombre_picker,respuesta_runner,estado,nombre_runner,respondido_en" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Tiene picker phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-phone",
              "leftValue": "={{ $json[0].telefono_picker }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "cond-estado",
              "leftValue": "={{ $json[0].estado }}",
              "rightValue": "respondido",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Armar SMS Notificacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "telefono",
              "value": "={{ $json[0].telefono_picker }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "sku",
              "value": "={{ $json[0].sku }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "runner",
              "value": "={{ $json[0].nombre_runner ?? 'Runner' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "respuesta",
              "value": "={{ $json[0].respuesta_runner ?? 'Ver panel picker' }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "mensaje_sms",
              "value": "=Dashboard AIntegration: {{ $json[0].nombre_runner ?? 'Runner' }} respondio tu consulta de SKU {{ $json[0].sku }}. Ingresa al panel para ver la respuesta.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "SMS Notificacion Picker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json.telefono }}" },
            { "name": "From", "value": "={{ $env.TWILIO_FROM_NUMBER }}" },
            { "name": "Body", "value": "={{ $json.mensaje_sms }}" }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 300],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={ \"ok\": true, \"notificado\": true }"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Responder OK (sin SMS)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 440],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={ \"ok\": true, \"notificado\": false, \"razon\": \"picker sin telefono o consulta no respondida\" }"
      }
    }
  ],
  "connections": {
    "Webhook Response": {
      "main": [
        [{ "node": "Validar Secret", "type": "main", "index": 0 }]
      ]
    },
    "Validar Secret": {
      "main": [
        [{ "node": "Extraer consulta_id", "type": "main", "index": 0 }],
        [{ "node": "Rechazar (401)", "type": "main", "index": 0 }]
      ]
    },
    "Extraer consulta_id": {
      "main": [
        [{ "node": "Obtener Consulta Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Consulta Supabase": {
      "main": [
        [{ "node": "Tiene picker phone?", "type": "main", "index": 0 }]
      ]
    },
    "Tiene picker phone?": {
      "main": [
        [{ "node": "Armar SMS Notificacion", "type": "main", "index": 0 }],
        [{ "node": "Responder OK (sin SMS)", "type": "main", "index": 0 }]
      ]
    },
    "Armar SMS Notificacion": {
      "main": [
        [{ "node": "SMS Notificacion Picker", "type": "main", "index": 0 }]
      ]
    },
    "SMS Notificacion Picker": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["dashboard", "picker", "runner", "response"],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dashboard-picker-v1"
  }
}
